{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{ end -}}


export ANDROID_HOME=$HOME/Library/Android/sdk

typeset -U path
path+=("$ANDROID_HOME/emulator" "$ANDROID_HOME/platform-tools" "$HOME/.local/bin")
