#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "bat"
    "coreutils"
    "curl"
    "dockutil"
    "ffmpeg"
    "findutils"
    "fzf"
    "gh"
    "git"
    "grep"
    "imagemagick"
    "jq"
    "mdless"
    "mise"
    "nmap"
    "pnpm"
    "prettyping"
    "ripgrep"
    "tig"
    "vim"
    "watchman" 
-}}
{{ $casks := list
    "1password"
    "1password-cli"
    "adobe-creative-cloud"
    "arq"
    "brave-browser"
    "chatgpt"
    "claude"
    "conductor"
    "cursor"
    "dolphin"
    "font-jetbrains-mono-nerd-font"
    "gpg-suite"
    "granola"
    "imageoptim"
    "iterm2"
    "jan"
    "lunar"
    "macdown"
    "mactex"
    "microsoft-auto-update"
    "microsoft-excel"
    "microsoft-powerpoint"
    "microsoft-word"
    "mullvad-vpn"
    "omnidisksweeper"
    "openaudible"
    "orbstack"
    "orcaslicer"
    "plex"
    "postico"
    "postman"
    "qbittorrent"
    "rectangle"
    "superwhisper"
    "tailscale-app"
    "teamviewer"
    "texstudio"
    "vimcal"
    "vlc"
    "whatsapp"
    "zed"
    "zoom" 
-}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
