{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "coreutils"
brew "curl"
brew "direnv"
brew "sdl2"
brew "ffmpeg"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "grep"
brew "imagemagick"
brew "jq"
brew "mdless"
brew "mise"
brew "nmap"
brew "pkgconf"
brew "pnpm"
brew "prettyping"
brew "protobuf"
brew "ripgrep"
brew "telnet"
brew "tig"
brew "vim"
brew "watchman"
brew "zlib"
cask "1password"
cask "1password-cli"
cask "adobe-creative-cloud"
cask "arq"
cask "brave-browser"
cask "chatgpt"
cask "claude"
cask "conductor"
cask "cursor"
cask "dolphin"
cask "font-powerline-symbols"
cask "gpg-suite"
cask "granola"
cask "imageoptim"
cask "iterm2"
cask "jan"
cask "lunar"
cask "macdown"
cask "mactex"
cask "microsoft-auto-update"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "mullvad-vpn"
cask "omnidisksweeper"
cask "openaudible"
cask "orbstack"
cask "orcaslicer"
cask "plex"
cask "postico"
cask "postman"
cask "qbittorrent"
cask "rectangle"
cask "superwhisper"
cask "tailscale-app"
cask "teamviewer"
cask "texstudio"
cask "vimcal"
cask "vlc"
cask "whatsapp"
cask "zed"
cask "zoom"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.vscode-remote-extensionpack"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
EOF
{{ end -}}
