{{ if .personal }}
[".claude/commands"]
    type = "git-repo"
    url = "https://github.com/voska/commands.git"
    refreshPeriod = "168h"

[".claude/agents"]
    type = "git-repo"
    url = "https://github.com/voska/agents.git"
    refreshPeriod = "168h"

{{ end }}
