@nuanced-dev:registry=https://nuanced-dev.nodejs.pub
//nuanced-dev.nodejs.pub/:_authToken={{ onepasswordRead "op://Private/oi5qskgbcoqhjz656tuyqeppbq/credential" }}
//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Private/vca5cfrhaiml7s7vgoolggan74/credential" }}
