{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "fzf"
     "git"
     "jq"
     "zsh" 
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

# Install chezmoi if not already installed
if ! command -v chezmoi &> /dev/null; then
    echo "Installing chezmoi..."
    {{ $sudo }}sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
else
    echo "chezmoi is already installed"
fi

{{ end -}}
